# postgres-exporter-deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres-exporter
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres-exporter
  template:
    metadata:
      labels:
        app: postgres-exporter
    spec:
      containers:
        - name: postgres-exporter
          image: prometheuscommunity/postgres-exporter:latest
          env:
            - name: DATA_SOURCE_NAME
              value: "postgresql://sonar:sonar@postgres-service:5432/sonarqube?sslmode=disable"
          ports:
            - containerPort: 9187
              name: metrics
---
apiVersion: v1
kind: Service
metadata:
  name: postgres-exporter
  namespace: default
spec:
  ports:
    - port: 9187
      targetPort: 9187
  selector:
    app: postgres-exporter